.button {
  font-family: $defaultFont;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  border-radius: 4px;
  border: none;
  padding: 8px;
  &:hover, &:focus {
    border-radius: 4px;
    cursor: pointer;
  }
}
