.main-wrap {
  display: flex;
  &-box {
    margin-left: 50px;
    width: 100%;
    @media (max-width: 1024px) {
      margin-left: 0;
      padding: 15px;
    }
  }
}
.header {
  z-index: 100;
  position: fixed;
  width: 50px;
  height: 100%;
  background: #181d1e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 34px;
    cursor: pointer;
  }
  &-wrap {
    &-item {
      margin: 15px 0;
      font-size: 20px;
      &.active {
        color: #42b983;
        transform: scaleY(1);
      }
    }
  }
}

.section-box {
  padding: 0 10px 20px 10px;
  @media (max-width: 1024px) {
    padding: 20px 0;
  }
}
.section-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
  box-sizing: border-box;
  padding-bottom: 60px;
}




